<!--    Header Start    -->
<header id="header" class="header page-header bg-white fixed-top">
    <nav id="scrollspy" class="navbar navbar-expand-lg header-nav">
        <div class="container">
            <a class="navbar-brand font-weight-bold text-dark" href="{{ site.url }}">{{ page.title }}</span></a>
            <!--  Navbar Toggler Button Start -->
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#toggle-menu" aria-controls="toggle-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lni-menu size-md"></span>
            </button>
            <!--  Navbar Toggler Button End -->
            <div class="collapse navbar-collapse" id="toggle-menu">
                <ul class="navbar-nav nav-pills ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" onclick="goBack()" href="javascript:void(0)">Back</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--    Header End    -->