<!--    Header Start    -->
<header id="header" class="header page-header bg-white fixed-top">
    <nav id="scrollspy" class="navbar navbar-expand-lg header-nav">
        <div class="container">
            <a class="navbar-brand font-weight-bold text-dark" href="{{ '/' | absolute_url }}">
                <span>{{ site.firstname }} {{ site.lastname }}</span>
            </a>
            
            <!--  Navbar Toggler Button Start -->
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#toggle-menu" aria-controls="toggle-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lni-menu size-md"></span>
            </button>
            
            <!--  Navbar Toggler Button End -->
            <div class="collapse navbar-collapse" id="toggle-menu">
                <ul class="navbar-nav nav-pills ml-auto">
                    <li class="nav-item">
                        {% if page.url != "/blog/categories/" %}<li><a class="nav-link text-dark" href="{{ '/blog/categories' | relative_url }}">Categories & Tags</a></li>{% endif %}
                        {% if page.url != "/blog/" %} <li><a class="nav-link text-dark" href="{{ '/blog' | relative_url }}">Back to Blog</a></li>
                        {% elsif page.url == "/blog/" %} <li><a class="nav-link text-dark" href="{{ '/' | absolute_url }}">Back to Site</a></li>{% else %} <span>You uncovered a secret, something went wrong. Please report it on Github!</span>{% endif %}
                        {% if page.url == "/donate/" %} <li><a class="nav-link text-dark" href="{{ '/' | relative_url }}">Back to Site</a></li>{% elsif page.url != "/donate" %}
                        {% else %} <span>You uncovered a secret, something went wrong. Please report it on Github!</span>
                        {% endif %}
                    </li>
                </ul>
            </div> 
        </div>
    </nav>
</header>
<!--    Header End    -->
