<!--  JavaScripts  -->
<script src={{ "/assets/js/jquery-3.4.1.min.js" | site.url }}></script>
<!--  Bootstrap Js  -->
<!-- <script src="assets/js/bootstrap.js"></script> -->
<script src={{ "/assets/js/bootstrap.min.js" | site.url }}></script>
<!--  Easing Js  -->
<script src={{ "/assets/js/jquery.easing.min.js" | site.url }}></script>
<!--  Isotope Js  -->
<script src={{ "/assets/js/slyslider.js" | site.url }}></script>
<!--  Pop UP JS Js  -->
<script src={{ "/assets/js/jquery.magnific-popup.min.js" | site.url }}></script>
<!--  Owl carousel Js  -->
<script src={{ "/assets/js/owl.carousel.min.js" | site.url }}></script>
<!--  Wow Js  -->
<script src={{ "/assets/js/wow.min.js" | site.url }}></script>
<!--  Typed Js  -->
<script src={{ "/assets/js/typed.js"  | site.url }}></script>
<!--  Custom JS  -->
<script src={{ "/assets/js/uone.js" | site.url }}></script>
