<!--   Resume Start   -->
<section id="resume" class="resume py-6">
    <div class="container">
        <h2 class="text-dark mb-4">My <span class="base-color"> Resume</span></h2>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="text-dark mb-4">{{ site.data.resume.workheader }}</h3>
                <ul class="timeline">
                    {% assign previouswork = site.data.resume.work | where_expr: item, item.enddate != nil | where_expr: item, item.enddate != '' |  sort: 'enddate' | reverse %}
                    {% assign currentwork = site.data.resume.work | where_expr: item, item.enddate == nil | where_expr: item, item.enddate |  sort: 'startdate' | reverse %}
                    {% assign work = currentwork | concat: previouswork %}
                    {% for workplace in work %}
                    <li>
                        <h6 class="base-color mb-0">{{ workplace.company}}</h6>
                        <h7 class="base-color mb-0">{{ workplace.title }}</h7>
                        <div>
                            <small class="text-muted "> {{ workplace.startdate | date: "%B, %Y" }} - {% if workplace.enddate == nil or workplace.enddate == "" or workplace.enddate == blank %} Present {% else %} {{ workplace.enddate | date: "%B, %Y"}} {% endif %}</small>
                        </div>
                        <p class="text-dark py-3"> {{ workplace.description }} </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-6">
                <h3 class="text-dark mb-4 mt-5 mt-lg-0">{{ site.data.resume.volunteerheader }}</h3>
                <ul class="timeline">
                    {% assign previouswork = site.data.resume.volunteer | where_expr: item, item.enddate != nil | where_expr: item, item.enddate != '' |  sort: 'enddate' | reverse %}
                    {% assign currentwork = site.data.resume.volunteer | where_expr: item, item.enddate == nil | where_expr: item, item.enddate |  sort: 'startdate' | reverse %}
                    {% assign volunteer = currentwork | concat: previouswork %}
                    {% for workplace in volunteer %}
                    <li>
                        <h6 class="base-color mb-0">{{ workplace.company}}</h6>
                        <h7 class="base-color mb-0">{{ workplace.title }}</h7>
                        <div>
                            <small class="text-muted "> {{ workplace.startdate | date: "%B, %Y" }} - {% if workplace.enddate == nil or workplace.enddate == "" or workplace.enddate == blank %} Present {% else %} {{ workplace.enddate | date: "%B, %Y"}} {% endif %}</small>
                        </div>
                        <p class="text-dark py-3"> {{ workplace.description }} </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <div>
            <h3 class="text-dark mb-4 text-center">{{ site.data.resume.educationheader }}</h3>
            <div class="row">
                <div class="col-lg-auto">
                    <ul class="timeline">
                        {% assign previousedu = site.data.resume.education | where_expr: item, item.enddate != nil | where_expr: item, item.enddate != '' |  sort: 'enddate' | reverse %}
                        {% assign currentedu = site.data.resume.education | where_expr: item, item.enddate == nil | where_expr: item, item.enddate |  sort: 'startdate' | reverse %}
                        {% assign education = currentedu | concat: previousedu %}
                        {% for university in education %}
                        <li>
                            <h6 class="base-color mb-0">{{ university.university}}</h6>
                            <h7 class="base-color mb-0">{{ university.degree }}  {% if university.major %} - {{university.major}}{% endif %}</h7>
                            <div>
                                <small class="text-muted "> {{ university.startdate | date: "%B, %Y" }} - {% if university.enddate == nil or university.enddate == "" or university.enddate == blank %} Present {% else %} {{ university.enddate | date: "%B, %Y"}} {% endif %}
                                   </small>
                            </div>
                            <p class="text-dark py-3"> {{ university.description }} </p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--   Resume End   -->