<!--    Abilities Start    -->
<section id="abilities" class="py-6 mt-0 mt-lg-5 skills-bar">
    <div class="container">
        <h2 class="text-dark mb-3">My <span class="base-color"> Abilities</span></h2>
        <div class="row skills">
            <div class="col-lg-6">
                <!-- <h2 class="text-dark mb-3">My <span class="base-color"> Abilities</span></h2> -->
                <p class="text-muted mb-0">I have found the best way is by self-learning and hands-on experience. When guidance is required, I then tend to rely on
                fellow employees, managers, and communities to help advance my knowledge and abilities. Right now I am specifically
                interested in Continuous Integration and Delivery for endpoint automation and testing, creating tools with python that
                automate system(s), serverless infrastructure configurations, logging and monitoring, and cloud based automation and
                integration. </p>
            </div>
            <div class="col-lg-6">
                <div id="skills" class="skill-box pt-5 pt-lg-4">
                    {% for skill in site.data.abilities %}
                    <div class="skillbar clearfix" data-percent="{{skill.percent}}%">
                        <div class="skillbar-title"><span>{{skill.title}}</span></div>
                        <div class="fill-skillbar skillbar-bar"></div>
                        <!-- <div class="skill-bar-percent">{{skill.percent}}%</div> -->
                    </div>
                    {% endfor %}
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!--    Abilities End    -->