<!-- Skills start -->
<section class="py-6 bg-grey">
    <div class="container">
        <!-- <div class="col-lg-13"> -->
        <div class="col">
            <h2 class="text-dark mb-0">My <span class="base-color"> Skills</span></h2>
            <div class="row pt-5 pt-lg-4">
                <div class="col">
                    <div class="col">
                        <span style="padding-top: 25px;"><strong>Client Platform Engineering:</strong></span>
                        <div>
                            <span class="pill">AutoPkg(r)</span>
                            <span class="pill">Bash </span>
                            <span class="pill">Chocolatey</span>
                            <span class="pill">macOS </span>
                            <span class="pill">macOS packaging</span>
                            <span class="pill">Munki</span>
                            <span class="pill">Powershell</span>
                            <span class="pill">Python</span>
                            <span class="pill">Server 2019</span>
                            <span class="pill">Windows 10</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col">
                        <span style="padding-top: 25px;"><strong>SaaS Administration:</strong></span>
                        <div>
                            <span class="pill">Atlassian Suite</span>
                            <span class="pill">Asana</span>
                            <span class="pill">Azure AD</span>
                            <span class="pill">G Suite</span>
                            <span class="pill">Github</span>
                            <span class="pill">Okta</span>
                            <span class="pill">Meraki</span>
                            <span class="pill">Office Suite / O365</span>
                            <span class="pill">RingCentral</span>
                            <span class="pill">Slack</span>
                            <span class="pill">Workspace One (Airwatch)</span>
                            <span class="pill">Zoom</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  pt-5 pt-lg-4">
                <div class="col">
                    <div class="col">
                        <span style="padding-top: 25px;"><strong>Infrastructure Management:</strong></span>
                        <div>
                            <span class="pill">AWS</span>
                            <span class="pill">Azure</span>
                            <span class="pill">DHCP / isc-dhcp</span>
                            <span class="pill">DNS / bind9</span>
                            <span class="pill">Docker</span>
                            <span class="pill">GCP</span>
                            <span class="pill">Jenkins</span>
                            <span class="pill">Networking (CCNA/CCNP)</span>
                            <span class="pill">Palo Alto Network</span>
                            <span class="pill">PostgreSQL</span>
                            <span class="pill">Puppet</span>
                            <span class="pill">Ubiquiti Networks</span>
                            <span class="pill">Virtualization (ESXi, Xen)</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col">
                        <span style="padding-top: 25px;"><strong>Other:</strong></span>
                        <div>
                            <span class="pill">Custom SAML Deployments</span>
                            <span class="pill">git</span>
                            <span class="pill">Technical Writing</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  pt-5 pt-lg-4">
                <div class="col">
                    <div class="col">
                        <span style="padding-top: 25px;"><strong>Languages:</strong></span>
                        <div>
                            <span class="pill">English - Native</span>
                            <span class="pill">Swedish</span>
                            <span class="pill">Norwegian</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Skills end -->