<!--  About Start  -->
        <section class="resume py-6 bg-white ">
            <div class="container">
                <div class="col-lg-13">
                    <h2 class="text-dark mb-4">My <span class="base-color"> Profile</span></h2>
                    <h5 class="pt-4">Objective</h5>
                    <p class="text-dark mb-1">Produce creative solutions by being curious about each component of the problem,
                        which then allows to create a long-term solution. To increase personal knowledge by being exposed to a
                        variety of innovative technologies, new experiences, and diverse locations. </p>
                    <h5 class="pt-4">Professional Summary</h5>
                    <p class="text-dark mb-1">I am a determined person who works hard to complete the most challenging tasks. I
                        adapt quickly when it comes to changing work environments. I enjoy the challenge of self-learning. I
                        plan carefully so whatever I am doing will be successful for the long term. I get excited when working
                        with new technologies and creating new ways to break the mold on traditional systems. Finally, I enjoy
                        thinking "out of the box" to come up with new resolutions on how to resolve these challenges. </p>
                    <p class="text-dark mb-1">While a large portion of my current position involves Client Endpoint Management
                        and IAM Management in Operations, I have recently taken an interest and involvement into server-less
                        infrastructure and logging, alerting and monitoring and DevOps/SRE workflows. I am currently investing my 
                        time into learning these subjects.</p>
                    <h5 class="pt-4">Personal Summary</h5>
                    <p class="text-dark mb-2">I grew up in several different states, and grew up with several experiences in
                        life that made me who I am today. I became interested in a variety of activities, specifically
                        snowboarding, hiking, training, music, photography, and cooking.</p>
                    <p class="text-dark mb-2">I grew up taking family trips to Colorado, where we would go skiing. Eventually, I
                        ended up making the transition to snowboarding and have been enjoying since. I routinely make trips to
                        the mountains during the winter time to snowboard and take in the gorgeous scenery and crisp air. I also
                        used to go on several hiking trips when I was younger leading to an ever greater passion for being
                        outdoors. Staying active, training, and exercising is important to me. I go to the gym at least three
                        times a week to stay fit. </p>
                    <p class="text-dark mb-2">Art & Media, are an important part of my life. I played the drums and various
                        percussion instruments as I was growing up. Playing in jam bands that focused on rock and jazz. Now a
                        days, I tend to enjoy music more than playing it, listening to anything from rock & metal, classical,
                        electronic, hip-hop, and seeing concerts when possible. </p>
                    <p class="text-dark mb-2">An interesting fact about me: I love experiencing new cultures, and travelling.
                        Places I would like to visit in the future include: India, Iceland, Austria, Russia, Japan to name a
                        few. Some of the countries I have been to include: Sweden, Norway, Iceland, Germany, Poland, and various
                        others in Europe. Experiencing the food, the people, and the history of each country.</p>
                </div>
            </div>
        </section>
<!--  About End  -->