<!-- Skills start -->
<section class="py-6 bg-grey">
    <div class="container">
        <!-- <div class="col-lg-13"> -->
        <div class="col">
            <h2 class="text-dark mb-0">My <span class="base-color"> Skills</span></h2>
            
            
            <div class="row pt-5 pt-lg-4">
                <div class="col">
                    <div class="col">
                        <span style="padding-top: 25px;"><strong>Client Platform Engineering:</strong></span>
                        <div>
                            {% for item in site.data.skills.cpe %}
                            <span class="pill">{{ item }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col">
                        <span style="padding-top: 25px;"><strong>SaaS Administration:</strong></span>
                        <div>
                            {% for item in site.data.skills.saasoperation %}
                            <span class="pill">{{ item }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  pt-5 pt-lg-4">
                <div class="col">
                    <div class="col">
                        <span style="padding-top: 25px;"><strong>Infrastructure Management:</strong></span>
                        <div>
                            {% for item in site.data.skills.infrastructure %}
                            <span class="pill">{{ item }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col">
                        <span style="padding-top: 25px;"><strong>Programming:</strong></span>
                        <div>
                            {% for item in site.data.skills.programming %}
                            <span class="pill">{{ item }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  pt-5 pt-lg-4">
                <div class="col">
                    <div class="col">
                        <span style="padding-top: 25px;"><strong>Languages:</strong></span>
                        <div>
                            {% for item in site.data.skills.languages %}
                            <span class="pill">{{ item }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col">
                        <span style="padding-top: 25px;"><strong>Other:</strong></span>
                        <div>
                            {% for item in site.data.skills.other %}
                            <span class="pill">{{ item }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Skills end -->