<!--   Testimonial Start   -->
<section id="testimonial" class="testimonial py-6 text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel">
                    {% for person in site.data.testimonial %}
                    <div class="testimonial-item">
                        <p> {{person.quote}} </p>
                        <div>
                            <img src="assets/img/{{person.img}}" alt="{{person.alt}}" class="mx-auto rounded-circle">
                        </div>
                        <h4 class="mt-3">- {{person.name}}, <span class="font-weight-bold">{{person.title}}, {{person.company}}</span></h4>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--    Testimonial End    -->