<!--  Blog Start  -->
<section id="blog" class="blog py-6 bg-grey">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12">
                <div>
                    <h2 class="text-dark mb-3">Latest <span class="base-color">Articles</span></h2>
                    <p class="text-muted">Check out my latest blog posts below, or just go straight to my blog. </p>
                </div>
            </div>
        </div>
        <div class="px-3">
            <div class="row">
                <div class="col-lg-8 px-0">
                    <!-- Item 01 -->
                    <div class="row mx-0 bg-white mt-4 mt-lg-0">
                        <div class="col-lg-6 px-0">
                            <div class="blog-image arrow-left">
                                <img src="{{site.posts[0].img_blog}}" alt="{{site.posts[0].img_alt}}" class="img-fluid border-top-left-radius border-top-radius">
                            </div>
                        </div>
                        <div class="col-lg-6 px-lg-0 border-bottom-radius">
                            <div class="blog-content">
                                <h5><a href="{{site.posts[0].url}}" class="text-dark">{{ site.posts[0].title | truncate: 46, '...' }}</a></h5>
                                <p class="text-muted">{{ site.posts[0].excerpt | truncatewords: 30, '...' }}</p>
                                <div class="blog-link">
                                    <a class="text-muted" href="{{site.posts[0].url}}" target="_blank">Read More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item 02 -->
                    <div class="row mx-0 bg-white mt-4 mt-lg-0 border-bottom-left-radius border-bottom-radius">
                        <div class="col-lg-6 px-lg-0 order-2 order-lg-1">
                            <div class="blog-content">
                                <h5><a href="{{site.posts[1].url}}" class="text-dark">{{ site.posts[1].title | truncate: 46, '...' }}</a></h5>
                                <p class="text-muted">{{ site.posts[1].excerpt | truncatewords: 30, '...' }}</p>
                                <div class="blog-link">
                                    <a class="text-muted" href="{{site.posts[1].url}}" target="_blank">Read More...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 px-0 order-1 order-lg-2">
                            <div class="blog-image arrow-right">
                                <img src="{{site.posts[1].img_blog}}" alt="{{site.posts[1].img_alt}}" class="img-fluid border-top-radius">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-0 mt-4 mt-lg-0 bg-white border-bottom-right-radius">
                    <!-- Item 03 -->
                    <div class="row mx-0">
                        <div class="col-lg-12 px-0">
                            <div class="blog-image arrow-top">
                                <img src="{{site.posts[2].img_blog}}" alt="{{site.posts[2].img_alt}}" class="img-fluid border-top-right-radius border-top-radius">
                            </div>
                        </div>
                        <div class="col-lg-12 px-lg-0 border-bottom-radius">
                            <div class="blog-content">
                                <h5><a href="{{site.posts[2].url}}" class="text-dark">{{ site.posts[2].title | truncate: 46, '...' }}</a></h5>
                                <p class="text-muted">{{ site.posts[2].excerpt | truncatewords: 30, '...' }}</p>
                                <div class="blog-link">
                                    <a class="text-muted" href="{{site.posts[2].url}}" target="_blank">Read More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center download-cv">
                <p> <a href="{{site.url | append: '/blog' }}"
                        class="pill-button-cv">Go to Blog</a></p>
            </div>
        </div>
    </div>
</section>
<!--  Blog End  -->